node_modules/
**/node_modules/
.next/
out/
dist/
**/dist/
build/
**/build/
venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.db
*.sqlite
*.sqlite3
dorostol-trade-backend/src/static/
.env
.env.*
.vercel/
coverage/
*.zip
xx/
.vscode/
~$*.docx
~$*.xlsx
~$*.pptx
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
